@charset "utf-8";
@use "../common/variables" as *;
@use "../common/functions" as *;
@use "../common/mixins" as *;
@use "../common/global" as *;

#flow__description {
  display: flex;
  height: 100vh;
  align-items: flex-end;
  position: relative;
}
.flow__description-bigCircle {
  position: relative;
}
.flow__description-smallCircle {
  width: 70%;
  opacity: 0.7;
}
#flow__description--arrow {
  width: 100%;
  height: vh(2000);
  @include sp() {
  }
}
.flow__description--title {
  font-size: vw(42);
  font-weight: 900;
  color: $color-base-white;
  background-color: $color-base-khaki;
  text-align: center;
  margin-top: vh(20);
  @include sp() {
    font-size: vw(42);
  }
}
.flow__description--box {
  position: relative;
  width: 100%;
  height: vh(1800);
  // max-width: 800px;
  // min-height: 600px;
  margin: 0 auto;
  background-image: url("../image/arrow_L.svg");
  background-size: vw(750);
  background-repeat: no-repeat;
  background-position: center;
}

.flow__description--inner {
  position: absolute;
  top: 50%; /* 矢印の中央に配置 */
  left: 50%;
  transform: translate(-50%, -50%); /* 完全に中央寄せ */
  z-index: 2;
}

.flow__description--inner ol {
  text-align: left;
}
.flow__description--inner li {
  padding: vw(30);
}
.flow__description--inner h4 {
  font-size: vw(40);
  color: $color-base-black;
  font-weight: 700;
}
.flow__description--inner p {
  font-size: vw(32);
  color: $color-base-black;
  font-weight: 400;
}
